body {
    margin: 0;
    padding: 0;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    background-color: #000;
}

#title {
    font-family: 'Poppins';
    color: #FFFFFF;
}

#img_logo {
    padding: 10px;
    width: 5%;
    margin-right: 15px;
}

.infopeixe {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.inputlabel {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    padding-right: 15px;
}

.inputinput {
    width: 50%;
    display: flex;
}

.buttons_head>a {
    text-decoration: none;
    color: black;
}

.estoque {
    width: 100%;
    text-align: center;
}

.products {
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
}

#footer_1 {
    display: flex;
    justify-content: center;
    bottom: 0px;
    background: #000;
    height: auto;
    color: #FFF;
    width: 100%;
    font-family: 'Poppins';
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: 'Poppins';
}

.price {
    color: grey;
    font-size: 22px;
}

.card img {
    width: 100%;
}

.card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

.card button:hover {
    opacity: 0.7;
}

article {
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 10px;
}

#form_buy {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-top: 5px;
}

.form-group>label {
    font-family: 'Poppins';
    font-size: 14px;
}

.form-group>textarea {
    resize: none;
    height: 100px;
}

.form-group>input {
    padding: 5px;
    border-radius: 3px;

    border-style: solid;
    border-color: #6C6C6C;
    border-width: 0.1px;
}

#form_contato>button {
    margin-top: 5px;
}

.infocompra {
    display: flex;
    background-color: #FF0;
    align-items: center;
    justify-content: center;
}

#peixe_buy {
    width: 400px;
}

.group_input {
    display: flex;
    flex-direction: column;
    width: 400px;

    margin-top: 10px;
}

#buttonmenu:hover {
    transform: scale(1.1);
    transition: all 0.2s;
}

#buttonmenu {
    cursor: pointer;
    background-color: #000;
    color: #FFF;
}

.background_button {
    margin-left: 10px;
}

.background_google {
    margin-right: 10px;
}

.background_menu {
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: rgba(0, 0, 0, 1.0);
    padding: 5px;
    margin-top: 18px;


    overflow: hidden;
    left: 0;
}

.textlink {
    color: #FFF;

    text-decoration: none;

    font-family: 'Poppins';
    font-size: 22px;
}

.iconlink {
    color: #FFF;
}

.background_textlink {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 20px;
}

.hidden {
    display: none;
}